h1,
p {
  font-family: Lato;
}

.container {
  text-align: center;
}



.download {
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: block;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  position: relative;
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 39px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}

.download:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
  position: relative;
  float: center;
}

.download:active {
  top: 1px;
  position: relative;
  float: center;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}


body {
  text-align: center;
  background-color: #252836;
  color: white;
}

.discordtext {
    font-size: smaller;

}